/* src/components/MapCanvas.css */

.hotspot-canvas-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent; /* Keep transparent for visuals */
  cursor: pointer; /* Hotspots are intended to be clickable */

}
